.left {
	float: left;
}

.clear {
	clear: both;
	width: 100%;
}

.shadow {
	position: relative;
	width: 610px;
	background: #CCC;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 1.5em;
	color: rgba(0, 0, 0, .8);
	text-shadow: 0 1px 0 white;
	line-height: 1.5;
	text-align: center;
	display: block;
	margin: 20px auto;
}

.shadow:before, .shadow:after {
	z-index: -1; 
	position: absolute; 
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%; 
	top: 80%;
	max-width:300px;
	background: rgba(0, 0, 0, 0.7); 
	-webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);    
	-moz-transform: rotate(-3deg);   
	-o-transform: rotate(-3deg);
}

.shadow:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	right: 10px;
	left: auto;
}

ul.gallery {
	width: 200px;
	list-style: none;
	margin: 0; 
	padding: 0;
	display : inline;
}

ul.gallery li {
	margin: 10px;
	padding: 0;
	text-align: center;
	border: 1px solid #ccc;
	-moz-border-radius: 3px; 
	-khtml-border-radius: 3px; 
	-webkit-border-radius: 3px;
	list-style-type: none!important;
}

ul.gallery li a.thumb {
	height: 120px;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

ul.gallery li span {
	width: 120px;
	height: 110px;
	overflow: hidden;
	display: block;
}

ul.gallery li a.thumb:hover {
	
}

ul.gallery li h2 {
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0; padding: 5px;
	background: #f0f0f0;
	border-top: 1px solid #fff; 
}

ul.gallery li a {
	text-decoration: none;
	color: #777;
	display: block;
}

#thumbnails{
	border: 1px solid #CCC;
	float :left;
}

.gallery_lock{
	float: right;
	margin-left : 5px;
	z-index : 100;
	position: absolute;
	right : 5px;
	bottom : 7px;
}

.gallery_info_container{
	display: block;
	position: relative;
}

.gallery_info_container a{
	display: inline! important;
}

.gallery_info_container h2{
	height : 34px;
}

.custom_dialog{
	display: none;
}