{% extends "base_site.html" %}
{% load i18n %}

{% block title %}
	{{ title }} | {% trans '3b Tajhiz' %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="/">{% trans 'Home' %}</a>
</div>{% endblock %}

{% block content %}
<p>
	{% trans "Thanks for spending some quality time with the Web site today." %}
</p>
{% endblock %}
